extends ../layout

block content
    script(src='/javascripts/roles.js')
    h1= title
    button(id='create_roles') Создать
    button(id='update_roles') Изменить
    button(id='delete_roles') Удалить
    table#tbl_roles
        tr 
            th id
            th Код
            th Название


    div#create_roles_popup.q-window
          div.q-window-block(style="width:400px;height:220px;margin:-150px 0 0 -400px")
            div.q-window-header Добавить роль
              a#create_roles_popup_close(style="create: relative;left: 300px;") X
            div.q-window-body.q-form
              div.q-window-filters-form
                div.q-form-data
                  create(for="incode") Код
                  input#incode(type="text")
                div.q-form-data
                  create(for="inlabel") Название
                  input#inlabel(type="text")

            div.q-buttons
              a#submit_create_roles Создать
              a#cancel_create_roles Отменить

    div#update_roles_popup.q-window
          div.q-window-block(style="width:300px;height:220px;margin:0px 0 0 -400px")
            div.q-window-header Изменение роли
              a#update_roles_popup_close(style="update: relative;left: 38px;") X
            div.q-window-body.q-form
              div.q-window-filters-form
                div.q-form-data
                  update(for="inpUpid") ID роли для изменения
                  input#inpUpid(type="text")  
                div.q-form-data
                  update(for="inpUpcode") Код 
                  input#inpUpcode(type="text")
                div.q-form-data
                  update(for="inpUplabel") Название
                  input#inpUplabel(type="INT")

            div.q-buttons
              a#submit_update_roles Изменить
              a#cancel_update_roles Отменить

    div#delete_roles_popup.q-window
          div.q-window-block(style="width:300px;height:220px;margin:0px 0 0 -400px")
            div.q-window-header Удалить роль
              a#delete_roles_popup_close(style="delete: relative;left: 38px;") X
            div.q-window-body.q-form
              div.q-window-filters-form
                div.q-form-data
                  delete(for="inpId") id роли
                  input#inpId(type="INT")

            div.q-buttons
              a#submit_delete_roles Удалить
              a#cancel_delete_roles Отменить
                